/* -----------------------------------------------
                    Google Fonts
----------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* -----------------------------------------------
                  Common Styles
----------------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.button {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    font-weight: 400;
}

.button:hover {
    background-color: #b40808;
    color: #FFFFFF;
}

#button-bg {
    background-color: #DD0000;
    color: #FFFFFF;
}


@keyframes heading {
    from {
        font-weight: 700;
        font-size: 70px;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 80px;
        background: -webkit-linear-gradient(#F6DC36, #1A9854);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    to {
        background: -webkit-linear-gradient(#F6DC36, #1A9854);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 72px;
        font-weight: 900;
    }
}



/* -----------------------------------------------
              Banner Section Styles
----------------------------------------------------------- */

.banner {
    margin: 50px 100px;
    border-radius: 30px;
    background-color: #161616;
    display: flex;

}

.banner-info {
    margin: 111px 12px 111px 105px;
    width: 50%;
}

.banner-heading {
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 80px;
    animation: heading 2s linear 0.5s infinite alternate;
    animation-play-state: running;
}


.banner-text {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
    line-height: 26px;
}

.button i {
    margin-left: 10px;
}

.banner-image {
    width: 50%;
    margin: 33px 80px 0 12px;

}

.banner-image img {
    width: 100%;
    height: 100%;
}



/* -----------------------------------------------
                Blog Section Styles
----------------------------------------------------------- */

.blog-section {
    margin: 100px;
}

.all-blogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.blog-section aside {
    background: #161616;
    border-radius: 10px;
    height: 312px;
    width: 312px;
}

.blog-buttons {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.blog-button {
    text-decoration: none;
    text-align: center;
    color: #161616;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    padding: 17px;
    margin-bottom: 30px;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin-left: 24px;

}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}


.blog-details {
    margin: 20px;
}

.blog-details a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #161616;
    padding: 4px 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-bottom: 16px;
}

.blog-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 20px;
}

.time-comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.time-comments span {
    margin-left: 10px;
}

.all-blogs .button {
    display: none;
}


/* -----------------------------------------------
                Match HTML  Styles
----------------------------------------------------------- */

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin-left: 24px;
    justify-items: center;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 50px 30px;
    text-align: center;
}

.match-images {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.match-images span {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.match-details span {
    font-size: 16px;
    color: #4D4D4D;
    ;
}



/* -----------------------------------------------
                Groups HTML  Styles
----------------------------------------------------------- */

.groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin-left: 24px;
    justify-items: center;


    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    box-shadow: 1px 1px #4d4d4d4b;
}

.group>span {
    font-weight: 600;
    margin-bottom: 10px;
    color: #8a1538;
}

.teams {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    padding: 10px;
    background-color: #eeeee4;
    margin: 5px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 1px 1px #4d4d4d4b;
}

.teams img {
    width: 50%;
}







/* -----------------------------------------------
                Footer Styles
----------------------------------------------------------- */

footer {
    background: #161616;
    margin-top: 100px;
}

.footer-text {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 130px;
    margin-bottom: 50px;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin-bottom: 50px;
}


.footer-links {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.footer-links a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    margin: 25px;
}

.social-links {
    display: flex;
    justify-content: center;


}

.social-links a {
    text-decoration: none;
    color: wheat;
    font-size: 40px;
    margin: 20px;
}

.social-links a:hover {
    color: #FFFFFF;
}




/* -----------------------------------------------
                Media Queries
----------------------------------------------------------- */

@media screen and (max-width:767px) {

    /* ------------------------------------------------------------
                       Common Style Small Device  
    ----------------------------------------------------------------*/
    @keyframes heading {
        from {
            font-weight: 700;
            font-size: 21px;
            background: -webkit-linear-gradient(#F6DC36, #1A9854);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        to {
            background: -webkit-linear-gradient(#F6DC36, #1A9854);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 23px;
            font-weight: 900;
        }
    }

    /* ------------------------------------------------------------
                       Banner Style Small Device  
    ----------------------------------------------------------------*/

    .banner {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-info {
        margin: 80px;
        text-align: center;
        margin-bottom: 50px;
    }

    .banner-heading {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
    }

    .banner-text {
        font-size: 14px;
        line-height: 24px;
    }

    .banner-image {
        width: auto;
        margin-top: 0;
      
    }


    .banner-image img {
        width: auto;
    }


    /* ------------------------------------------------------------
                               Blog Style Small Device  
    ----------------------------------------------------------------*/

    .blog-section {
        margin: 20px;
    }

    .all-blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-section aside {
        background: #FFFFFF;
        width: 100%;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }

    .thumbnail img {
        width: 100%;
    }

    /* -----------------------------------------------
                           Footer Style  Small Device
            -------------------------------------------------*/

    .footer-links {
        display: flex;
        flex-direction: column;
        text-align: center;


    }

    .footer-links a {
        margin-bottom: 20px;
    }

}


@media only screen and (min-width:768px) and (max-width:1024px) {


    /* --------------------------------------------
                Common Styles Medium Device
    -------------------------------------------------*/
    .button {
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFF;
        background-color: #DD0000;
        border-radius: 5px;
        padding: 12px 15px;
        font-weight: 400;
    }

    @keyframes heading {
        from {
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 20px;
            background: -webkit-linear-gradient(#F6DC36, #1A9854);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        to {
            background: -webkit-linear-gradient(#F6DC36, #1A9854);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 43px;
            font-weight: 900;
        }
    }

    /* ----------------------------------------------
                Banner Section Medium Device
    ------------------------------------------------*/

    .banner {
        margin: 50px;
        border-radius: 30px;
        background-color: #161616;
        display: flex;

    }

    .banner-info {
        margin: 111px 12px 111px 105px;
        width: 50%;
    }

    .banner-heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 20px;
        animation: heading 2s linear 0.5s infinite alternate;
        animation-play-state: running;
    }

    .banner-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .banner-image {
        width: 50%;

    }

    /* ---------------------------------------------
                      Blog Section Medium Device
    -------------------------------------------------*/

    .all-blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .blog-section aside {
        width: 100%;
        background-color: #FFFFFF;
        height: auto;
    }

    .blog-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-button {
        border: 1px solid #E8E8E8;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        padding: 17px 0;
        margin-left: 22px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .thumbnail img {
        width: 100%;
    }

    .all-blogs .button {
        display: block;
    }



    /* -----------------------------------------------
                   Footer Style  Medium Device
    -------------------------------------------------*/

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        margin: 0 5%;


    }

    .footer-links a {
        margin-bottom: 20px;
    }


    /* --------------------------------------------- 
                Group Styles Medium Device
    -----------------------------------------------*/

    .groups {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .teams img {
        width: 70%;
    }

    /* ----------------------------------------------
                     Match Styles Medium Device
    ---------------------------------------------------*/
    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

}